.main {
  height: calc(100vh - var(--vkui--size_panel_header_height--regular));
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.balance {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  padding: .5rem;
}

.user {
  display: flex;
  font-weight: 600;
}

.statistics {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  div {
    padding: .7rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #27272a;
    border-radius: 10px;
    animation: .5s show ease;
  }
}